
.dropdown-contentSRC {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 625px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.dropdown-contentSRC a {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
}
.dropdown-contentSRC a:hover{
    background-color: #e0e0e0;
}

.showSRC {
  display: block;
}

ul {
    padding-left: 500px;
  padding: 0;
  list-style-type: none;
}